<div *ngIf="alert" class="alert alert-danger alert-dismissible" role="alert" data-auto-dismiss>
  <strong>Acceso incorrecto!</strong> Verificar el usuario y/o la contraseña.
</div>

<form [formGroup]="usuarioLogin" (ngSubmit)="onSubmit()">
  <mat-form-field class="campos-field">
      <label for="exampleFormControlInput" class="form-label">Usuario</label><br>
      <input type="text" matInput placeholder="Carlos" formControlName="User">
  </mat-form-field>

  <mat-form-field class="campos-field">
      <label for="exampleFormControlInput1" class="form-label">Password</label><br>
      <input type="password" matInput placeholder="Password" formControlName="Password">
  </mat-form-field>

  <button mat-raised-button [disabled] = "!usuarioLogin.valid">Aceptar</button>
</form>